$gray-10: #15191E;
$gray-20: #2B323B;
$gray-30: #2B323B;
$gray-40: #596573;
$gray-50: #707E8F;
$gray-60: #8F9BA8;
$gray-70: #AEB7C2;
$gray-80: #D0D6DC;
$gray-90: #F0F2F4;
$gray-100: #F9FAFB;

$yellow: #F3C83A;